.well
  %h4= model_with_builds.name
  %ul
    %li
      ID: 
      =link_span(model_with_builds.id, model_path(model_with_builds))
    %li
      Subject Name: 
      =link_span(model_with_builds.subject.name, sample_path(model_with_builds.subject))
    %li
      Subject Type: 
      =model_with_builds.subject_class_name
    %li
      Username: 
      =model_with_builds.user_name
    %li
      Created: 
      =time_tag model_with_builds.creation_date.localtime
  .well
    Inputs
    %ul
      =render partial: 'model_input/li', collection: model_with_builds.model_inputs
    -if model_with_builds.builds.any?
      %div
        %table{class: "table table-striped"}
          %tr
            %th build
            %th status
            %th scheduled
            %th completed
            %th data directory
          =render partial: 'build/build_table_row', collection: model_with_builds.builds
