<table id="models-datatable" class="display" data-source="<%= model_index_url(format: "json") %>">
  <thead>
    <tr>
      <th>Model</th>
      <th>Processing Profile</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>