=render partial: 'shared/side_nav', locals: tab_hash
%table.table.table-bordered.gms-entity-index{id: 'models-datatable', data: {source: model_index_url(format: :json)}}
  %thead
    %tr
      %th Name
      %th Processing Profile 
  %tbody
