=render partial: 'shared/side_nav', locals: tab_hash
%table.table.table-bordered.gms-entity-index{id: 'samples-datatable', data: {source: sample_index_url(format: :json)}}
  %thead
    %tr
      %th Name
  %tbody
