.row

  .span3.well.sidebar-nav
    %ul.nav.nav-list
      %li.nav-header Browse Data
      %li
        %a{href: model_index_path}
          Models
        %a{href: processing_profile_index_path}
          Processing Profiles
        %a{href: instrument_data_index_path}
          Instrument Data  
          

  .span9
    %form.well.form-search{:action=>'/search'}
      %input.input-xlarge.search-query{:type=>'text', :name=>'q'}
      %button.btn{:type=>'submit'} Search
