<div class="page-header">
  <h1><%= @processing_profile.name %> <small>processing profile</small></h1>
</div>

<dl>
  <%= render partial: 'shared/attribute_list', locals: {presenter: @processing_profile} %>
</dl>
