.page-header
  %h1
    Instrument Data
    %small= @instrument_data.id

.span8.well
  .page-header
    %h3 Attributes
    = render partial: 'shared/attribute_list', locals:{presenter: @instrument_data} 
.span4.well
  .page-header
    -if @taxon
      %h4 Taxon
      %a{href: taxon_path(@instrument_data.taxon)}= @instrument_data.taxon_name
    %h4 Library
    %a{href: library_path(@instrument_data.library)}= @instrument_data.library_name
