%ul.nav.nav-tabs
  %li{class: model_active}
    %a{href: model_index_path}
      Models
  %li{class: processing_profile_active}
    %a{href: processing_profile_index_path}
      Processing Profiles
  %li{class: instrument_data_active}
    %a{href: instrument_data_index_path}
      Instrument Data
  %li{class: sample_active}
    %a{href: sample_index_path}
      Subjects
  %li{class: build_active}
    %a{href: build_index_path}
      Builds
