<div class="page-header">
  <h1>
    <%= @subject.name %>
    <small>
      sample
    </small>
  </h1>
</div>

<div>
  <%= render partial: 'genome_model/genome_model_with_builds', collection: @subject.genome_models %>
</div>